@charset "UTF-8";

/* header_box_01 영역 시작 */
.header_box_01 {
    width: 100%;
    border-bottom: 1px solid #efefef;
}

.header_box_01_inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 40px 0;
}

/* header_logo_area 영역 시작 */
.header_logo_area {
    width: 192px;
    overflow: hidden;
}
/* header_logo_area 영역 종료 */

/* header_search_area 영역 시작 */
.header_search_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.header_search_area input {
    width: 100%;
    height: 54px;
    padding: 0 50px 0 30px;
    border: 1px solid #282828;
    border-radius: 28px;
    font-size: 15px;
    position: relative;
}

.header_search_area input:focus {
    outline: none;
}

.header_search_area input::-webkit-search-cancel-button {
    display: none;
}

.header_search_area .search_btn {
    position: absolute;
    border: 0 none;
    top: 25%;
    right: 10px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
/* header_search_area 영역 종료 */

/* header_glb_area 영역 시작 */
.header_glb_area li {
    float: left;
    margin: 22px 0 0 25px;
}

.header_glb_area .basket {
    position: relative;
}

.header_glb_area .basket_count {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 1px 4px;
    border-radius: 50%;
    font-size: 12px;
    bottom: -5px;
    right: -5px;
}
/* header_glb_area 영역 종료 */
/* header_box_01 영역 종료 */

/* header_box_02 영역 시작 */
.header_box_02 {
    width: 100%;
    border-bottom: 1px solid #efefef;
}

.header_box_02_inner {
    width: 1200px;
    margin: 0 auto;
}

/* all_menu_box 영역 시작 */
.all_menu_box {
    width: 55px;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    padding-top: 10px;
    cursor: pointer;
}
/* all_menu_box 영역 종료 */

/* header_gnb_area 영역 시작 */
.header_gnb_area {
    font-size: 17px;
}

.header_gnb_area li {
    float: left;
    width: 127px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.header_gnb_area li a {
    display: inline-block;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

.header_gnb_area li:hover {
    border-bottom: 1px solid #000;
}
/* header_gnb_area 영역 종료 */
/* header_box_02 영역 종료 */