@charset "UTF-8";

.complete_area {
    width: 100%;
    /* background-color: red; */
}

.complete_area_inner {
    width: 1200px;
    margin: 0 auto;
    padding: 90px 0 70px 0;
    text-align: center;
    /* background-color: blue; */
}

.complete_area_inner h2 {
    margin-bottom: 30px;
}

.complete_area_inner .title {
    font-size: 44px;
    letter-spacing: -2px;
    color: #000;
    font-weight: bold;
    line-height: 54px;
    text-align: center;
    margin-bottom: 20px;
}

.complete_area_inner .notice {
    line-height: 20px;
    color: #7f7f7f;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.btn_white {
    display: inline-block;
    width: 20%;
    color: #231f20;
    text-align: center;
    border: 1px solid #231f20;
    background: #fff;
    height: 58px;
    font-size: 16px;
    line-height: 58px;
    transition: all 0.2s ease-in-out;
}

.btn_white:hover {
    background-color: #231f20;
    border: 1px solid #231f20;
    color: #fff;
}